<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnNotice="true"
         displayDetailsOnTestsThatTriggerNotices="true">
    <testsuites>
        <testsuite name="data-access-kit">
            <directory>data-access-kit/test</directory>
        </testsuite>
        <testsuite name="data-access-kit-symfony">
            <directory>data-access-kit-symfony/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
